@tailwind base;
@tailwind components;
@tailwind utilities;

.butt {
    @apply border border-solid border-gray-600 px-4 py-2 rounded-md hover:bg-gray-600 hover:text-white transition-all duration-300;
}

.items_text {
    flex-grow: 1;
    justify-content: space-between;
}

.card_hotel {
    border: 1px solid purple;
    border-radius: 5px;
}

/*.but_card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
}*/
